</sheetData><pageMargins left="0.78749999999999998" right="0.78749999999999998" top="1.05277777777778" bottom="1.05277777777778" header="0.78749999999999998" footer="0.78749999999999998"/><pageSetup paperSize="9" orientation="portrait" useFirstPageNumber="1" horizontalDpi="300" verticalDpi="300"/><headerFooter><oddHeader>&amp;C&amp;"Times New Roman,Regular"&amp;12&amp;A</oddHeader><oddFooter>&amp;C&amp;"Times New Roman,Regular"&amp;12Page &amp;P</oddFooter></headerFooter></worksheet>