<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<worksheet xmlns="http://schemas.openxmlformats.org/spreadsheetml/2006/main" xmlns:r="http://schemas.openxmlformats.org/officeDocument/2006/relationships" xmlns:mc="http://schemas.openxmlformats.org/markup-compatibility/2006" mc:Ignorable="x14ac" xmlns:x14ac="http://schemas.microsoft.com/office/spreadsheetml/2009/9/ac"><dimension ref="<%= dimensions %>"/><sheetViews><sheetView tabSelected="1" topLeftCell="A1" zoomScaleNormal="100" workbookViewId="0"><selection activeCell="A1" sqref="A1"/></sheetView></sheetViews><sheetFormatPr defaultRowHeight="14.4" x14ac:dyDescent="0.3"/><cols><col min="1" max="19" width="11.5546875"/><col min="20" max="20" width="21.33203125" customWidth="1"/><col min="21" max="21" width="15.33203125" customWidth="1"/><col min="22" max="1025" width="11.5546875"/></cols><sheetData>